* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    max-width: 100%;
}

a {
    text-decoration: none;
    font-style: normal;
    color: white;
}

li {
    text-decoration: none;
    list-style: none;
}

:root {
    --main_bg_color: black;
    --secondary_color: #af0101;
}

body {
    display: grid;
    background: var(--main_bg_color);
    color: white;
    max-width: 100%;
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: evo;
    src: url(fonts/evo_font.otf);
}

@font-face {
    font-family: batman;
    src: url(fonts/batmfa__.ttf);
}

@font-face {
    font-family: history;
    src: url(fonts/TheHistoriaDemo.ttf);
}


/*header style */

.header {
    padding: 20px;
    min-height: 100vh;
    background: url(./images/2nd.png);
    background-repeat: no-repeat;
}

.header .nav_bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 30px;
}

.header .ham_burger_menu {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: 0.3s;
}

.header .ham_burger_menu .row {
    height: 4px;
    border-radius: 50px;
    background: linear-gradient(to right, var(--secondary_color), #fdbb2d);
}

.full {
    width: 60px;
    z-index: 100;
}

.start {
    width: 50%;
    transform-origin: left;
}

.end {
    width: 50%;
    position: relative;
    left: 50%;
    transform-origin: right;
}

.content_area {
    display: grid;
    min-height: 80vh;
    
    background: transparent;
}

.name_area {
    margin-top: 30vh;
    margin-left: 30%;
    background: transparent;
}

.name {
    font-size: 80px;
    letter-spacing: 8px;
    font-weight: 500;
    font-family: 'history';
    background: linear-gradient(to top, orangered, var(--secondary_color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profession {
    font-size: 30px;
    margin: 10px 140px;
    font-family: 'evo';
}

.fixed {
    font-weight: 100;
}

#type_js {
    font-family: "roboto", sans-serif;
}


/*header style ends */
/*Menu*/
.menu_bar{
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 19, 5, 0.97);
    color: white;
    position: absolute;
    top: -100vh;
    font-family: 'history';
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_bar .menu_items{
    width: 80%;
    justify-content:space-between ;
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    
    background: transparent;
}
.item{
    font-size: 42px;
    cursor: pointer;
    transition: 0.4s;
    
    background: transparent;
}
.item:hover{    
    background: linear-gradient(to top, orangered, var(--secondary_color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}